workflow.json
{
  "name": "Telegram AI Auto-Reply Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "c933f3c6-1951-4b12-8f6f-eb662f594698",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        112
      ],
      "webhookId": "29e44a65-8ae9-4755-848b-0043de7ccec4",
      "credentials": {
        "telegramApi": {
          "id": "xLc10WtdO0KtA0iB",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "text-present",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a9f167ff-2396-41a1-89ab-a6060b34c608",
      "name": "Has Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Your name is \"SmartAI assistant bot\". You are a helpful, polite, intelligent AI assistant. If the user asks your name or who you are, always introduce yourself as \"SmartAI assistant bot\" — never say you are ChatGPT, GPT, OpenAI, or any other model or product name. For example, if asked \"what is your name\", reply like \"Hello! I'm SmartAI assistant bot. How can I help you today?\". Answer every user's question in a friendly and professional manner. If the user greets you, greet them back. If they ask technical questions, explain step-by-step. Keep answers clear and concise. Preserve emojis. Respond in the same language the user writes in (support both Hindi and English). Use Markdown formatting such as bullet points, bold, and code blocks when appropriate."
        }
      },
      "id": "415dd4e2-557a-4f43-8f8f-d1bfb679977f",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        112
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "77d5ef07-4d49-49ad-801c-a8daaa83977f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        528,
        336
      ],
      "credentials": {
        "openAiApi": {
          "id": "fbR0xUMCVj7UwFdV",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').item.json.message.chat.id}}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "cd47169e-c8bc-480a-8eb1-713210722363",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        16
      ],
      "retryOnFail": true,
      "webhookId": "7e4aad52-061b-4277-8164-d398149b7626",
      "credentials": {
        "telegramApi": {
          "id": "xLc10WtdO0KtA0iB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $(\"Telegram Trigger\").item.json.message.chat.id }}",
        "text": "Sorry, I couldn't process your request. Please try again.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "da9f35eb-fbd8-4b9d-8e72-4baef1e5ff7a",
      "name": "Send Error Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        208
      ],
      "retryOnFail": true,
      "webhookId": "7c9429f0-fca9-4d40-9a66-4336c1902683",
      "credentials": {
        "telegramApi": {
          "id": "xLc10WtdO0KtA0iB",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Has Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Text?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "x7TnMjdkOunTvJ2Y"
  },
  "versionId": "e8009d90-249a-42ee-b55f-3a9d9f8ea893",
  "meta": {
    "instanceId": "4c1213be64672049892cf6841c8611124c04c6dedd3af918058d6241c8a76764"
  },
  "nodeGroups": [],
  "id": "NH7UwmwSZ15pMqJE",
  "tags": []
}